img {
  height: unset;
  width: unset;
}

.v-autocomplete__selection input {
  width: 100%;
  border-bottom: 1px solid $color-border;
  padding: 5px 5px 5px 30px;
  &::placeholder {
    color: $color-text-placeholder;
  }
}
