$color-default: #ffff;

$color-text: #504645;
$color-text-highlight: #ed6162;
$color-text-placeholder: #b7adac;

$color-shadow: #cccccc46;
$color-border: #ed6160;

$font-family-spectral: 'Spectral', serif;
$font-family-ubuntu: 'Ubuntu', serif;
$font-size: 1rem;
